*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 #root{
   min-height:100vh;
   display: flex;
 }
#menu-icon{
    /* background-color: red; */
    width: 3vw;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ri-menu-2-line{
    transform: scale(2.5);
}
.ri-chat-follow-up-line{
    transform: scale(2.5);
}
.plus{
    width: 3vw;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .message-icon{
    width: 3vw;
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }